
body{
    background: radial-gradient(circle at center, #0c0c0c, #252525);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.center{
    min-width: 38rem;
    min-height: 38rem;
    background-color: transparent;
    position: absolute;
    left: 25%;
    top: 25%;
    border-radius: 50%;
    opacity: 80%;
    border: orange solid 5px;
    overflow: hidden;
}

.name{
    color: whitesmoke;
    opacity: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;

    left: 5rem;
    bottom: 5rem;
}

.infobox{
    width:  15rem;
    height: 5rem;
    background-color: #252525;
    box-shadow: inset;
    position: absolute;
    left: 5rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;

    &:hover{
        background-color: darkcyan;

    }

}

p{
    margin: none;
    padding: none;
}

.myImg{
    width: 30rem;
    height: 52rem;
    position: absolute;
    left: 28%;
    bottom: 0rem;
}

.seeMore{
    width:  12rem;
    height: 3rem;
    background-color: #252525;
    box-shadow: inset;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: whitesmoke;
    opacity: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid;
    border-radius: 5px;
    &:hover{
        opacity: 100%;
    }
}

.particle{
    position: absolute;
    width:  max-content;
    height: 10px;
    border-radius: 50%;
    color: white;

    animation: fall 6s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }


    100% {
        transform: translateY(40rem);
        opacity: 0;
    }
}